:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color: #aaa;
  background: linear-gradient(145deg, #BA81C2 -8.02%, #000 47.8%);
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

html, body {
  overflow-x: hidden;
}

/* Ensure the container class maintains the layout structure */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
      background: linear-gradient(145deg, #BA81C2 -8.02%, #000 47.8%);
  }
}